# Introduction to Python

In [1]:
# Clic in the cell and press CRTL-ENTER (Windows) or CMD-ENTER (Mac)
print("It works!")

It works!

In [2]:
!wget https://raw.githubusercontent.com/EricDarve/me343-cme216-winter-2021/main/Code/Python/text.txt
!wget https://raw.githubusercontent.com/EricDarve/me343-cme216-winter-2021/main/Code/Python/star_wars_4th.txt

--2021-01-24 13:13:58--  https://raw.githubusercontent.com/EricDarve/me343-cme216-winter-2021/main/Code/Python/text.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.40.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.40.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 88 [text/plain]
Saving to: ‘text.txt.3’

text.txt.3          100%[===================>]      88  --.-KB/s    in 0s

2021-01-24 13:13:58 (4.66 MB/s) - ‘text.txt.3’ saved [88/88]

--2021-01-24 13:13:58--  https://raw.githubusercontent.com/EricDarve/me343-cme216-winter-2021/main/Code/Python/star_wars_4th.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.40.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.40.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 326321 (319K) [text/plain]
Saving to: ‘star_wars_4th.txt.3’

star_wars_4th.txt.3 100%[===================>] 318.67K  --.-KB/s    in 0.05s

2021-01-24 13:13:59 (5.90 MB/s) - ‘star_wars_4th.txt.3’ saved [326321/326321]

## Variables

All programs manipulate data. 
Data of all sort is stored in memory in your computer, and can be refered using variables.

### Numbers

To visualize the data referenced by some variable, using print(...).

In [3]:
# Integer
a = 2
b = -3

# Floating point number
c = 12.4
d = -1.342e-4

# Visualize the data variables point to
print(a)
print(b)
print(c)
print(d)
print(type(a)) # The type. In python, everything is a class. More on that later.
print(type(d))

2
-3
12.4
-0.0001342
<class 'int'>
<class 'float'>

### Text

In [4]:
s1 = "String"          # Double quotes
s2 = 'Another string'  # Single quotes. It does the same.
print(s1)
print(s2)

String
Another string

Note that strings are defined using double or single quote.

### Booleans

Booleans are either True or False

In [5]:
a = True
b = False
print(a)
print(b)

True
False

### Arithmetics
Supports the usual mathematical operations

In [6]:
a = 2
b = 3.14
print(a)
print(b)
c = a-b 
print(c)
d = a*b
print(d)

2
3.14
-1.1400000000000001
6.28

In [7]:
a11 = 3.
a12 = 3.
a22 = 2.
a21 = 1.
b1  = 2.4
b2  = 2.1

#### Mini-Exercice: a calculator

The solution of the following 2-by-2 system of equations

$$ a_{11} x_1 + a_{12} x_2 = b_1 $$
$$ a_{21} x_1 + a_{22} x_2 = b_2 $$

Is given by
$$ d = a_{11} a_{22} - a_{21} a_{12} $$
$$ x_1 = \frac{b_1 a_{22} - a_{12} b_2}{d} $$
$$ x_2 = \frac{b_2 a_{11} - a_{21} b_1}{d} $$

Implement a short python code computing this formula and printing the solution

**TODO:** compute and print x1 and x2, using the formula above

In [8]:
#@title Solution
detA = a11 * a22 - a21 * a12
x1 = (b1 * a22 - a12 * b2)/detA
x2 = (b2 * a11 - a21 * b1)/detA
print(x1)
print(x2)

-0.5000000000000003
1.3000000000000003

### Strings operations

In [9]:
name = "Léopold"
print(name)
print(len(name))

Léopold
7

#### Interpolation

In [10]:
a = 3.14159
b = 2.71828
s = "right?"
s2 = "{} is the best number, but {} is really cool too, {}".format(a, b, s)
print(s2)

3.14159 is the best number, but 2.71828 is really cool too, right?

#### Concatenation

In [11]:
s = "a" + "b"
print(s)
a = 5
print("zZ" * a)

ab
zZzZzZzZzZ

### Comparisons

In [12]:
print(1 > 2) # False
print(2 < 1) # False
print("String" == "String") # True
print(not(1 > 2)) # True
print(1 != 2)     # True

False
False
True
True
True

### Conversion

In [13]:
print(int(2.7))
print(float(4))
print(str(2.3))
print(str(4))
print(int('1342'))
a = float("1.43e12")
print(a)

2
4.0
2.3
4
1342
1430000000000.0

## Control-Flow

### if/elif/else

Like in most other languages. 
Allows to perform operations depending on conditions.
One key difference: indentation matters!

In [14]:
a = 3
b = 3
if a > b: # <-- Colon
    print("a > b") # <-- Indentation (spaces, please)
    if a == 2:
        print('a == 2 and a > b')
# <-- Vertical spaces are OK
elif a == b:
    pass # <-- Cannot be empty. `pass` does nothing.
elif a == 2:
    print("a == 2")
else:
    print("a < b")

### Ranges

"range(10)" returns an iterators over 0 ... 9 and is the same as doing `for(int i = 0; i < 10; i++)` in C/C++

In [15]:
a = 1
b = 1
stop = 10
for i in range(stop):
    print(a)
    sumab = a+b
    a = b
    b = sumab
print(a) # What is this equal to?

1
1
2
3
5
8
13
21
34
55
89

### While

In [16]:
n = 1
while n < 1000:
    n = n+1
print(n) # What is this equal to?

1000

All with the usual break/continue

In [17]:
for i in range(10, 30):
    if i % 2 == 0:
        continue # Skip to the next iteration
    elif i == 27:
        break # Stop the loop
    else:
        print(i)

11
13
15
17
19
21
23
25

### Mini-Exercise: an approximation to e

For all $n \geq 0$, the following is an approximation of $e$ that gets better as $n$ grows:

$$ e = \sum_{k=0}^{n} \frac{1}{k!}$$

Compute an approximation using from $n=1$ to $n=30$ terms and compute the error you get for each approximation. Stop when the error is below 1e-10.

In [18]:
import math
# Run this first to add math functions
# Exact e can be obtained by math.e
print(math.e)
# k! can be computed using math.factorial(k)
print(math.factorial(10))

2.718281828459045
3628800

In [19]:
#@title Solution
e_approx = 0
for n in range(30):
    e_approx = e_approx + 1 / math.factorial(n)
    err = abs(math.e-e_approx)
    print("{}: true {} approx {} error {}".format(n, math.e, e_approx, err))
    if(err < 1e-10):
        break

0: true 2.718281828459045 approx 1.0 error 1.718281828459045
1: true 2.718281828459045 approx 2.0 error 0.7182818284590451
2: true 2.718281828459045 approx 2.5 error 0.2182818284590451
3: true 2.718281828459045 approx 2.6666666666666665 error 0.05161516179237857
4: true 2.718281828459045 approx 2.708333333333333 error 0.009948495125712054
5: true 2.718281828459045 approx 2.7166666666666663 error 0.0016151617923787498
6: true 2.718281828459045 approx 2.7180555555555554 error 0.0002262729034896438
7: true 2.718281828459045 approx 2.7182539682539684 error 2.7860205076724043e-05
8: true 2.718281828459045 approx 2.71827876984127 error 3.0586177750535626e-06
9: true 2.718281828459045 approx 2.7182815255731922 error 3.0288585284310443e-07
10: true 2.718281828459045 approx 2.7182818011463845 error 2.7312660577649694e-08
11: true 2.718281828459045 approx 2.718281826198493 error 2.260552189881082e-09
12: true 2.718281828459045 approx 2.7182818282861687 error 1.7287637987806193e-10
13: true 2.718281828459045 approx 2.7182818284467594 error 1.2285727990501982e-11

## Containers
Containers are used to combine many basic values (integers, real numbers, strings) together, and perform operations on many of them

### Lists

You can put multiple variables into another variable.

In [20]:
# A list of 3 integers
a = [1, 2, 3]
print(a)
# 3 strings
b = ["A", "B", "C"]
print(b)
# A mix of real number, integer and string
c = [1e-4, 1, "C"]
print(c)
# A mix of lists !
L = [a, b, c]
print(L)
# The length of a list
print(len(L))

[1, 2, 3]
['A', 'B', 'C']
[0.0001, 1, 'C']
[[1, 2, 3], ['A', 'B', 'C'], [0.0001, 1, 'C']]
3

#### Indexing

All indexing in python is **0-based**. Like C/C++ or Go. Unlike Matlab, Fortran or Julia

In [21]:
# A list
a = ['A', 'B', 'C', 'D', 'E', 'F', 'G']
print(a)
# The first element of the list
print(a[0])
# Change the second element
a[1] = 'Abis'
print(a)

['A', 'B', 'C', 'D', 'E', 'F', 'G']
A
['A', 'Abis', 'C', 'D', 'E', 'F', 'G']

#### Slicing

Python has a natural slicing syntax.
If A is a list (or array or other indexable structure)
`A[start:end:slice]` will return *a new list* equal to
`A[start, start+slice, start+2*slice, ... ]`
where the last element has index at most end-1.
Start can be ommited (default 0), end too (default len(a)), slice too (default 1)

In [22]:
a = ['A', 'B', 'C', 'D', 'E', 'F', 'G']
a1 = a[2:5]
print(a1)
a2 = a[::2]
print(a2)
a3 = a[1::3]
print(a3)

['C', 'D', 'E']
['A', 'C', 'E', 'G']
['B', 'E']

You can even use negative start/end/step

In [23]:
a = ['A', 'B', 'C', 'D', 'E', 'F', 'G']
print(a[-1])

G

In [24]:
print(a[-6:5]) # = ?

['B', 'C', 'D', 'E']

#### Append

In [25]:
# Create list
l = [1, 2]
print(l)
# Add `1` at the end
l.append(1)
print(l)
# Remove the second entry
del l[1]
print(l)

[1, 2]
[1, 2, 1]
[1, 1]

#### List comprehension
The most Pythonic thing there is

In [26]:
# 1. Create v[i] = i^2 (square) for i = 0, 1, ..., 9
v = [i**2 for i in range(10)]
print(v)

# 2. Create v[i] = 0 + 1 + ... + i for i = 0, 1, ..., 9
v = [sum(range(i)) for i in range(10)]
print(v)

# 3. Like (1) but only if i is even
v = [i**2 for i in range(10) if i % 2 == 0]
print(v)

# 4. Crazy stuff !
v = [(i,j) for i in range(10) if i // 2 == 0 for j in range(10, 20) if i % j == i]
print(v)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 0, 1, 3, 6, 10, 15, 21, 28, 36]
[0, 4, 16, 36, 64]
[(0, 10), (0, 11), (0, 12), (0, 13), (0, 14), (0, 15), (0, 16), (0, 17), (0, 18), (0, 19), (1, 10), (1, 11), (1, 12), (1, 13), (1, 14), (1, 15), (1, 16), (1, 17), (1, 18), (1, 19)]

#### Mini-Exercise: a dot product
$$ s= \sum_{i=1}^N a_i b_i $$

In [27]:
a = [1, 4, 2, 4, 7, 1, 3, 6, 9]
b = [4, 9, 1, 2, 4, 6, 7, 8, 1]

# TODO: compute s, a single integer

In [28]:
#@title Solution
s = 0
for i in range(len(a)):
    s = s + a[i]*b[i]
print(s)

162

#### Mini-Exercise: a matrix-vector product
$$A \in \mathbb{R}^{m \times n}, x \in \mathbb{R}^n, y \in \mathbb{R}^m$$
$$y_i = \sum_{j=1}^n A_{ij} x_j$$

In [29]:
# 3x5-matrix using a list of lists. 
# Use A[i][j] for A_(ij)
A = [ [1, 6, 3, 6, 7], 
      [5, 8, 3, 1, 3], 
      [6, 8, 3, 2, 4] ] 
x = [3, 6, 6, 3, 4] # 5-vector

# TODO: compute y, an integer list of length 3

In [30]:
#@title Solution
y = [0, 0, 0] # 3-vector
for i in range(3):
    for j in range(5):
        y[i] += A[i][j] * x[j]
print(y)

[103, 96, 106]

#### Mini-Exercise: a matrix-matrix product
$$A \in \mathbb{R}^{m \times r}, B \in \mathbb{R}^{r \times n}, C \in \mathbb{R}^{m \times n}$$
$$C_{ij} = \sum_{k=1}^r A_{ik} B_{kj}$$

In [31]:
A = [ [1, 6, 3, 6, 7], 
      [5, 8, 3, 1, 3], 
      [6, 8, 3, 2, 4] ] # 3x5
B = [ [1, 2], 
      [3, 4], 
      [5, 6],
      [7, 8],
      [9, 10] ] # 5x2

# TODO: compute C, a list of lists, representing a matrix of size 3x2

In [32]:
#@title Solution
C = [ [0, 0] for i in range(3) ] # 3 x 2
for i in range(3):
    for j in range(2):
        for k in range(5):
            C[i][j] += A[i][k] * B[k][j]
print(C)

[[139, 162], [78, 98], [95, 118]]

#### Mini-Exercise: list comprehension
In one line, create a list c which correspond to the square difference of pairwise elements of a and b, only if the elements in a are even (otherwise, skip).

In [33]:
a = [3, 4, 2, 3, 5, 4, 8, 3, 5, 4, 8, 1, 2, 0]
b = [2, 4, 0, 3, 1, 6, 7, 4, 2, 1, 8, 9, 3, 0]

# TODO: construct c

In [34]:
#@title Solution #1
c = [(a[i]-b[i])**2 for i in range(len(a)) if (a[i] % 2 == 0)]
print(c)

[0, 4, 4, 1, 9, 0, 1, 0]

In [35]:
#@title Solution #2
c = [(ai-bi)**2 for (ai,bi) in zip(a,b) if ai % 2 == 0]
print(c)

[0, 4, 4, 1, 9, 0, 1, 0]

### Tuples

Like lists, but immutable. Cannot be changed.

In [36]:
l = [1, "Foo", 3.14, 2.71, "42"]
l[0] = 10 # <-- OK!
print(l)

# a = (1, "Foo", 3.14, 2.71, "42")
# a[0] = 2 # <-- Error. Tuples are immutable
# print(a)

[10, 'Foo', 3.14, 2.71, '42']

But otherwise, they support most of the same operations as lists

In [37]:
print(len(a))
print(a[0])
print(a[1::3])

14
3
[4, 5, 3, 8, 0]

### Dictionaries

Dictionaries are (mutable) collections of (key, value) pairs.

In [38]:
D = {"John":1685, "Alex":147, "Bob":-37, "Steve":-10}
print(D)
print(len(D))
print(D["John"])
print(D["Bob"])

{'John': 1685, 'Alex': 147, 'Bob': -37, 'Steve': -10}
4
1685
-37

#### Iterating

In [39]:
for (k, v) in D.items():
    if v >= 0:
        print("{}'s account: {} (positive)".format(k, v))
    else:
        print("{}'s account: {} (negative)".format(k, v))

John's account: 1685 (positive)
Alex's account: 147 (positive)
Bob's account: -37 (negative)
Steve's account: -10 (negative)

In [40]:
print(D.keys())
print(D.values())

dict_keys(['John', 'Alex', 'Bob', 'Steve'])
dict_values([1685, 147, -37, -10])

#### Assignment

In [41]:
# Add John if it doesn't exist, otherwise change it
if "John" in D:
    D["John"] = D["John"] - 100
else:
    D["John"] = 10    
print(D)

# Set Leo 
D["Leo"] = 100000
print(D)

# D["Cindy"] = D["Cindy"] - 1 # <-- Error (unlike C++)

# Remove Leo
del D["Leo"]
print(D)

{'John': 1585, 'Alex': 147, 'Bob': -37, 'Steve': -10}
{'John': 1585, 'Alex': 147, 'Bob': -37, 'Steve': -10, 'Leo': 100000}
{'John': 1585, 'Alex': 147, 'Bob': -37, 'Steve': -10}

### Mini-Exercise: filtering data
In the "database", return a list of (emails, age) of all customer with score > 500

In [42]:
# This simply defines some random data
# No need to understand the details
import random
names = ["Juliane","Timothy","Camilla","Elizbeth","Nena","Yolando","Emerson",
         "Katelynn","Dreama","Debi","Becki","Rossana","Jennefer","Mary"]
domain = ["gmail.com","outlook.com","aol.net"]
data = {}
for i in range(len(names)):
    name  = names[i]
    email = "{}@{}".format(name.lower(),random.choice(domain))
    age   = random.randint(18, 75)
    score = random.randint(350, 850)
    data[name] = (email, age, score) 

# This prints the data nicely
data

{'Juliane': ('juliane@gmail.com', 69, 385),
 'Timothy': ('timothy@gmail.com', 20, 520),
 'Camilla': ('camilla@aol.net', 36, 474),
 'Elizbeth': ('elizbeth@gmail.com', 30, 564),
 'Nena': ('nena@outlook.com', 58, 513),
 'Yolando': ('yolando@aol.net', 23, 634),
 'Emerson': ('emerson@aol.net', 25, 508),
 'Katelynn': ('katelynn@aol.net', 54, 751),
 'Dreama': ('dreama@aol.net', 23, 459),
 'Debi': ('debi@aol.net', 62, 556),
 'Becki': ('becki@aol.net', 51, 603),
 'Rossana': ('rossana@gmail.com', 37, 803),
 'Jennefer': ('jennefer@outlook.com', 40, 804),
 'Mary': ('mary@aol.net', 25, 475)}

*TODO*: Return a list of (name, email) for all customer with a score > 500

In [43]:
#@title Solution #1
l1 = []
for (k,v) in data.items():
    if v[2] > 500:
        l1.append((k,v[0]))
# Nice print
l1

[('Timothy', 'timothy@gmail.com'),
 ('Elizbeth', 'elizbeth@gmail.com'),
 ('Nena', 'nena@outlook.com'),
 ('Yolando', 'yolando@aol.net'),
 ('Emerson', 'emerson@aol.net'),
 ('Katelynn', 'katelynn@aol.net'),
 ('Debi', 'debi@aol.net'),
 ('Becki', 'becki@aol.net'),
 ('Rossana', 'rossana@gmail.com'),
 ('Jennefer', 'jennefer@outlook.com')]

In [44]:
#@title Solution #2
l2 = [(k,v[0]) for (k,v) in data.items() if v[2] > 500]
# Nice print
l2

[('Timothy', 'timothy@gmail.com'),
 ('Elizbeth', 'elizbeth@gmail.com'),
 ('Nena', 'nena@outlook.com'),
 ('Yolando', 'yolando@aol.net'),
 ('Emerson', 'emerson@aol.net'),
 ('Katelynn', 'katelynn@aol.net'),
 ('Debi', 'debi@aol.net'),
 ('Becki', 'becki@aol.net'),
 ('Rossana', 'rossana@gmail.com'),
 ('Jennefer', 'jennefer@outlook.com')]

###Harder Mini-Exercice: merging dictionaries
We have a list of dictionaries "string" => "int".
Merge the dictionaries into one. 
When two entries have the same key, keep the largest.

In [45]:
from random import choice, randint
from string import ascii_letters as al

# Creates the data
# No need to understand the details
L = [{''.join([choice(al) for i in range(1)]):randint(1, 1000) for i in range(100)} for j in range(100)]

*TODO:* We have a list `L` of distionaries (`L[0]` is one, `L[1]` is another, etc). Each dictionary is a set of string=>integer key-values pair.

Merge them all into one, i.e., create one dictionary of string=>integer defined as the union of all the dictionaries on L.

When you have multiple data for the same key, keep the largest (maximum).

In [46]:
#@title Solution
# TODO: Merge the data
M = {}
for d in L:
    for (k,v) in d.items():
        if k in M:
            M[k] = max(v, M[k])
        else:
            M[k] = v  
print(M)

{'z': 996, 'y': 989, 'N': 994, 'e': 993, 'r': 990, 'G': 1000, 'D': 998, 'j': 1000, 'w': 983, 'i': 981, 'H': 998, 'h': 990, 'q': 992, 'g': 995, 'n': 997, 'A': 997, 'a': 988, 'f': 997, 'v': 957, 'u': 996, 'O': 1000, 'p': 997, 'M': 979, 'V': 997, 'F': 995, 'Z': 997, 'L': 988, 'm': 976, 'Q': 989, 'l': 980, 'K': 1000, 'E': 986, 'X': 1000, 'b': 999, 'o': 994, 's': 991, 'R': 996, 'S': 1000, 't': 970, 'I': 994, 'C': 994, 'x': 979, 'Y': 979, 'c': 964, 'k': 1000, 'T': 947, 'U': 970, 'B': 985, 'J': 975, 'W': 991, 'd': 983, 'P': 979}

## Reading files

First way. Using explicit `open` and `close`.

In [47]:
# Open the file and create a `handle` (link) to it
f = open("text.txt",'r')
# Iterates through all lines
for l in f:
    print(l)
# IMPORTANT! Close the file
f.close()

How are you today?

Have you heard about those ICME workshops?

I heard they're great :-)

Second way. Using the `with` construct

In [48]:
with open("text.txt","r") as f:
    for l in f:
        print(l)

How are you today?

Have you heard about those ICME workshops?

I heard they're great :-)

## Writing files

In [49]:
with open("text-write.txt", "w") as f:
    f.write("First line\n") 
    f.write("Second line\n")

In [50]:
!cat text-write.txt # Read file using shell command

First line
Second line

## Long exercise: read file, count frequencies of words, remove short ones and display the 10 most frequent

The text-file `star_wars_4th.txt` contains the 4th Star Wars script.

We want you to find the 10 most common words of more than 4 characters.

In [51]:
# Boiler plate
import string

# Some hints:

# Break string into words
s = "Comment est mon anglais?"
print(s.split()) # = ["Comment", "est", "mon", "anglais?"]

# Convert to lowercases
s = "INCROYABLE"
print(s.lower()) # = "incroyable"

['Comment', 'est', 'mon', 'anglais?']
incroyable

*TODO*: 
0. Initialize an empty dictionary.
1. read file line by line
    - Break line into words
    - Convert each word to lower case. BONUS: remove any punctuation
    - If the word has more than 4 characters:
        - If the word is already in the dictionary, increment its count by 1        
        - Else, add word to dictionary with count of 1
2. Convert dictionary to list of (word, count). Use list(dict.items()) to that.
3. Sort (descending) by word count. Google to find out how.
4. Print the 10 most frequent

In [52]:
#@title Solution
import string
words = {} # Store word:count pairs
with open("star_wars_4th.txt",'r') as f:
    for line in f:
        for w_ in line.split():
            w = w_.lower()
            if len(w) > 4:
                if w in words:
                    words[w] += 1
                else:
                    words[w] = 1
words = list(words.items())
words = sorted(words, key=lambda x:x[1], reverse=True)
words[:10]

[('death', 225),
 ('cockpit', 185),
 ('threepio', 173),
 ("luke's", 111),
 ('vader', 100),
 ('around', 93),
 ('fighter', 92),
 ('artoo', 87),
 ('imperial', 85),
 ('looks', 81)]

## Extra Exercise: reading and processing text data

In [53]:
# TODO:
# (1) Read dist.female.first and dist.male.first files
#     Each file has many lines, each following the format
#         NAMES         x y z
#     Only the first word (the name) matters. You can ignore x, y and z
# (2) For each file, go through all lines, read the name (by splitting) the line
# (3) Find the names in common between the two files

In [54]:
#@title Solution
names = {}
with open("dist.female.first",'r') as f:
    for line in f:
        name = line.split()[0]
        names[name] = 1
with open("dist.male.first",'r') as f:
    for line in f:
        name = line.split()[0]
        if name in names:            
            names[name] += 1
print(n)
for (k,v) in names.items():
    if v == 2:
        print(k)

13
MARY
PATRICIA
MARIA
CAROL
SHIRLEY
FRANCES
JEAN
JOAN
ASHLEY
KELLY
ANDREA
ROBIN
CONNIE
TRACY
CARMEN
KIM
SHANNON
LESLIE
JAMIE
GAIL
ERIN
LAUREN
LYNN
MARION
DANA
STACY
STACEY
JESSIE
WILLIE
JACKIE
COURTNEY
TERRY
BILLIE
TRACEY
BOBBIE
LINDSEY
LINDSAY
GUADALUPE
SANDY
JAN
LEE
WHITNEY
GAYLE
PAT
JOHNNIE
FRANCIS
JODY
ANGEL
ANTONIA
LEIGH
KELLEY
KERRY
LAVERNE
ALEXIS
CASEY
OLLIE
JAIME
SHELBY
JEWEL
CHRIS
SHAWN
FRANKIE
MORGAN
JEWELL
CLEO
ROSARIO
LUPE
LOU
LESLEY
ROBBIE
JIMMIE
DOMINIQUE
RENE
GALE
DALE
DEE
TOMMIE
JORDAN
MICHAEL
TAYLOR
JOHN
KRIS
JERRY
MERLE
KASEY
EDDIE
JAMES
YOUNG
CHRISTIAN
CAREY
LACY
ADRIAN
ROBERT
SYDNEY
BOBBY
ELISHA
JESSE
BENNIE
AUBREY
CHONG
YONG
FREDDIE
ARIEL
WILLIAM
DEVON
ALVA
CRUZ
CHARLIE
RYAN
NOEL
CHARLES
TRINIDAD
DAVID
CARROLL
SAMMIE
LOREN
JOE
GENE
LAVERN
GEORGE
DANIEL
LOUIS
LONNIE
CECIL
GERRY
RAY
BLAIR
JOSEPH
COREY
IVORY
DONNIE
CARROL
MICKEY
BILLY
SIDNEY
CARY
MARTY
RONNIE
KENDALL
CORY
IRA
TONY
TOBY
MARK
RICHARD
KYLE
DEVIN
SANTOS
HONG
RANDY
DEAN
TOMMY
JOSE
VAN
PAUL
THOMAS
JUAN
CAMERON
JOEY
ODELL
JOHNIE
CLAIR
AUGUSTINE
CHRISTOPHER
PARIS
GABRIEL
PATRICK
CLYDE
DUSTY
BRITT
NUMBERS
JOHNNY
JAY
ANTHONY
CARL
ANTONIO
SANG
MARIO
KEVIN
DORIAN
DALLAS
CHI
ALEXANDER
CHUNG
ANDREW
THANH
MICHEL
SUNG
SHANE
JESUS
HOLLIS
HENRY
DARNELL
DARYL
CODY
SAM
NORMAN
DENNIS
STEVIE
MICAH
ERIC
ALI
NICKY
JASON
ANDRE
REFUGIO
GARY
SEAN
KENNETH
THEO
STEPHEN
SON
LANE
JOEL
DONALD
ALEX
VAL
TYLER
STEVEN
SHAUN
FRANK
ARTHUR
AARON
PERRY
MINH
MATTHEW
KIRBY
FRANCISCO
SCOTT
RONALD
MICHAL
MAURICE
BRANDON
MICHEAL
LUIS
JUSTIN
JULIAN
JIMMY
TRISTAN
LOUIE
EDWARD
KARL
BERNIE
JAMEY
WALTER
JAE
EVAN
EUGENE
RUDY
MARTIN
ANGELO
ALLEN
RAYMOND
OTHA
MELVIN
MITCHELL
DEMETRIUS
BRETT
TROY
LARRY
ROYCE
JACK
AVERY
VALENTINE
TORY
JON
GREGORY
DREW
MERRILL
MAN
JUDE
DEON
DANNIE
CHANG
BERRY
TIMOTHY
SAMMY
LEON
CARLOS
ALBERT
WESLEY
SCOTTIE
ROBERTO
LAWRENCE
HAROLD
LOGAN
GERALD
BRIAN
VICTOR
TERRELL
LEO
LAURENCE
JOSHUA
JEFFREY
RICKIE
QUINN
GLENN
CLAUDE
SHAYNE
ROY
MARLIN
KEITH
FRED
ELMER
DAN
ADAM
DONG
CLARENCE
MIKE
JAME
TRAVIS
SOL
RORY
PETER
JEREMY
DION
CURTIS
COLBY
SAMUEL
OSCAR
LEWIS
JULIO
ELLIS
DENNY
BLAKE
AUSTIN
VIRGIL
VERNON
RUSSELL
MARSHALL
LESTER

# More Advanced Concepts

## Functions

In [55]:
# Basic function
def foo(x, y):
    return x+y

a = foo(1, 5)
print(a)
b = foo(2, 5)
print(b)

6
7

In [56]:
# Even functions are objects!
print(type(foo))

<class 'function'>

In [57]:
# This means this is allowed
f = foo
print(f(1,2))

3

### Default arguments

In [58]:
# Default arguments
def bar(x, y=2, z=3):
    print(x+y+z)
    
# Positional arguments
bar(1)
bar(1, 3)
bar(1, 3, 5)

# Position + keyword arguments
bar(1, z=2)
bar(z=1, x=10)

6
7
9
5
13

### Anonymous functions

In [59]:
# Anonymous function
f = lambda x:x + 2
print(f(2))

4

In [60]:
# A function returning functions!
def add_(x):
    return (lambda y: x + y)
f = add_(1)
print(f(2))

3

### Exercice: function definition

Define a 3-lines function greet(names, msg) where `names` is a list of names (strings) and that prints, for all `name` in `names`
```
msg name!
```
where `msg` takes the default value `Hello`, but can be overridden if provided.

*TODO:* build function greet(...) as defined above

In [61]:
#@title Solution
def greet(names, msg="Hello"):
    for n in names:
        print("{} {}!".format(msg, n))

In [62]:
# This should then be working :        
greet(["Leopold", "Cindy", "John", "Bob"], msg="Coucou")

Coucou Leopold!
Coucou Cindy!
Coucou John!
Coucou Bob!

## Iterables & Generators

Anything we can do `for x in ...` is an iterable.

In [63]:
for i in range(5):
    print(i)

0
1
2
3
4

In [64]:
for s in "a string!":
    print(s)

a

s
t
r
i
n
g
!

In [65]:
for l in [1, 2, 3]:
    print(l)

1
2
3

In [66]:
d = {"a":1, "b":2, "c":100}
for (k, v) in d.items():
    print(k)
    print(v)

a
1
b
2
c
100

Those are all iterables. 
Those are objects that one can iterate over. 
A generator is iterable but that does not require the construction of all the elements beforehand.

We use the keyword yield to create a simple generator.

In [67]:
def squares10():
    for n in range(10):
        yield n**2

for x in squares10():
    print(x)

0
1
4
9
16
25
36
49
64
81

### Exercise: create a generator for the $n$ first Fibonacci numbers
Create a generator for the first $n$ elements of the Fibonacci sequence:
$$ n_0 = 1, n_1 = 1, n_{i+1} = n_i + n_{i-1} $$

*TODO:* define a function fibo(n) yielding the first n Fibonacci numbers.
Use it to print the first 10.

In [68]:
#@title Solution
def fibo(n):
    a = 1
    b = 1
    yield a
    for i in range(1, n):
        (a, b) = (b, a+b)
        yield a
        
for x in fibo(10):
    print(x)

1
1
2
3
5
8
13
21
34
55

### Exercise: reverse, map, filter

Reverse : Create a generator that takes a collection (like a list) as input, and generates the reverse list

Map : Create a generator that takes a function and an iterable, and returns the function applied on each element

Filter: Create a generator that takes a function f, and iterable, and generate the elements e for which the function f(e) returns True.

Trick for printing: ```list(g)```  returns a list of the elements generated by g.

*TODO:* define the `myreverse` and `mymap` functions

In [69]:
#@title Solution
def myreverse(l):
    for i in range(len(l)-1,-1,-1):
        yield l[i]

def mymap(f, l):
    for x in l:
        yield f(x)

def myfilter(f, l):
    for x in l:
        if f(x):
            yield x

In [70]:
# This should then be working:
l = [1,2,3,4]
print(list(myreverse(l)))   
print(list(mymap(lambda x:x**2, l)))
print(list(myfilter(lambda x: x%2==0, l)))

[4, 3, 2, 1]
[1, 4, 9, 16]
[2, 4]

## Python "Memory Model" (AKA How to stop being confused)


Python memory model:
- Variables point to data in memory
- All variables are object ("type(a) is class 'int'")
- Some objects are mutable (can be changed), some are immutable (cannot be changed)

### Variable binding

When we write
```
a = ...
a = ...
```
we simply "rebind" a: it points (refers) to something else. The underlying data may or may not be modified.

In [71]:
a = 2
a = 3 # This creates a ~new~ "3" in memory and points a to it

In [72]:
a = "Stanford"
b = a
a = "ICME"
print(b)

Stanford

In [73]:
a = [1, 2, 3]
b = a
a[0] = "ICME"
print(b)

['ICME', 2, 3]

In [74]:
a = [1, 2]
t = (a, 1, "String")
a[0] = [3, 4]
print(t)

([[3, 4], 2], 1, 'String')

### Immutable vs Mutable
In Python, an object is either mutable or immutable. Mutable object can be changed. Immutable can't.

- Lists, dictionaries are mutable
- **Tuple**, int, string, double are immutable
- Complex structures are usually mutable

In [75]:
a = [1, 2, 3, 4]
a[2] = 10 # OK: list are mutable

In [76]:
s = "abcdef"
# s[0] = 'e' # NOT OK: immutable

In [77]:
t = (1, 4, 2)
# t[1] = 3 # NOT OK: immutable

In [78]:
t = ([1, 2, 3], "test", (3, 4)) # Quid ?

In [79]:
# Mutable in immutable
t[0][0] = 3 # OK: list mutable
print(t)
# t[0] = [4, 5] # NOT OK: tuple immutable

([3, 2, 3], 'test', (3, 4))

In [80]:
# Immutable in mutable
# t[1] = "test 2" # NOT OK: tuple immutable
# t[1][0] = 'u' # NOT OK: string immutable

### Function arguments

Functions take their arguments by reference. We receive a reference to some object in memory.
```
def fun(x):
    # Here, x points to something
```
At this point if we write
```
    x = ...
```
we merely "bind" x to some other object in memory. We haven't touched the input "x".
On the other hand,
```
    somefunction(x)
```
may modify x, or not, depending on the function definition.

### Mini-Quizz

In [81]:
## (1)
def fun(x):
    x = 2
    return x

a = 3
fun(a)
print(a) # = ?

3

In [82]:
## (2)
def fun2(x):
    x[0] = 1

a = [9, 8, 7]
b = a
fun2(b)
print(a) # = ?

[1, 8, 7]

In [83]:
## (3)
def fun3(x):
    x[0] = (1, 4, 5)

a = [(1,2,3),3,2]
fun3(a)
print(a) # = ?
# a[0][0] = 2
# print(a) # = ?

[(1, 4, 5), 3, 2]

In [84]:
## (4)
def fun4(x):
    x[0][0] = 2

a = ([1,2,3],1)
b = a
fun4(b)

print(a) # = ?

([2, 2, 3], 1)

### Copy and Deepcopy

Python's objects have the copy and deepcopy functions.

`copy` does a *shallow* copy of an object. It copies the object, but the other objects it references are not copied.

`deepcopy` does a *deep* copy (as the name indicates). It copies the object and all referenced data-structures, recursively.

In [85]:
import copy

A1 = [1, 2]
A2 = [3, 4]
A3 = [5, 6]

In [86]:
# Like before
L1 = [A1, A2]
L2 = L1 # L1 and L2 point to the same lists, so modifying one modifies the other
L1[0] = A3
print(L1)
print(L2)

[[5, 6], [3, 4]]
[[5, 6], [3, 4]]

In [87]:
# Using a copy
L1 = [A1, A2]
L2 = L1.copy()
L2[0] = A3
print(L1)
print(L2)

[[1, 2], [3, 4]]
[[5, 6], [3, 4]]

In [88]:
# However...
A2[0] = 0
print(L1)
print(L2)

[[1, 2], [0, 4]]
[[5, 6], [0, 4]]

In [89]:
# Using a deepcopy
L1 = [A1, A2]
L2 = copy.deepcopy(L1)
A2[0] = 0
print(L1)
print(L2)

[[1, 2], [0, 4]]
[[1, 2], [0, 4]]

## Classes

In [90]:
class Complex:  
    def __init__(self, real, imag):
        self.r = real
        self.i = imag
    def add(self, other):
        c = Complex(0, 0)
        c.r = self.r + other.r
        c.i = self.i + other.i    
        return c
    def sub(self, other):
        c = Complex(0, 0)
        c.r = self.r - other.r
        c.i = self.i - other.i    
        return c

### Mini-Exercice: complex multiplication
In the above code, implement the complex product

As a reminder, 
(a + bi)*(c + di) = (ac - bd) + (ad + bc)i

### Harder Mini-Exercise: better Complex class
Can you find out how to be able to write instead
```
a = Complex(1, 2)
b = Complex(2, 3)
c = a + b 
d = a * b
print(c)
```
?

## Modules
Modules are Python way of organizing large codes.
When you have many files doing many different things, you need to find ways to organize that. You cannot just rely on every function having a unique name.

We already saw and use some

In [91]:
import math
import random
import string

Modules, functions and variables can be imported in various ways

In [92]:
# (1)
import math
print(math.pi)
print(math.sqrt(2))
    
# (2)
import math as m
print(m.pi)
print(m.sqrt(2))

# (3)
from math import pi, sqrt
print(pi)
print(sqrt(2))

# (4) [Bad]
from math import *
print(pi)
print(sqrt(2))
print(exp(1))

3.141592653589793
1.4142135623730951
3.141592653589793
1.4142135623730951
3.141592653589793
1.4142135623730951
3.141592653589793
1.4142135623730951
2.718281828459045

# Extra-Exercises for the break
Taken from https://developers.google.com/edu/python/

In [93]:
# (1) Create function mixing(a, b) that, given two strings a & b, returns a<space>b (a and b separated by a space), 
# but swapping the first two characters of a and b
# and returns the result
#
# Example
# mixing("stanford", "python") returns "pyanford stthon"

def mixing(a, b):
    # Your code here. Remove 'pass'.
    pass

# Check
print(mixing("stanford", "python")) # =?= pyanford stthon
print(mixing("educ", "128"))        # =?= 12uc ed8

None
None

In [94]:
# (2) Create function ing(a) that, given a string a,
# if it has length < 3, leave it unchanged
# else if it ends in "ing", append "ly"
# otherwise, append "ing"
# and return the result

def ing(a):
    # Your code here. Remove 'pass'.
    pass

# Check
print(ing("python"))      # =?= pythoning
print(ing("engineering")) # =?= engineeringly
print(ing("ly"))          # =?= ly

None
None
None

In [95]:
# (3) Create a function trim(l) that, given a list l, remove all identical adjacent elements
# and return the result. It should not modify its input.

def trim(l):
    # Your code here. Remove 'pass'.
    pass

# Check
print(trim([1, 2, 3, 3, 4, 2, 2]))  # =?= [1, 2, 3, 4, 2]
print(trim([]))                     # =?= []
print(trim([1, 2, 1, 2]))           # =?= [1, 2, 1, 2]

None
None
None

## More creative exercises

A couple more ideas of exercises. Be creative here!
Inspired from http://www.practicepython.org/

*   Create a password generator. Given `n`, your function should return a strong random password of `n` characters.
*   Reverse Word Order. Given a string, your function should return the same string but with the words in reversed order (the words themselves should be unchanged)